# File: .github/workflows/repo-sync.yml
name: sync-ddgksf2013-Cuttlefish #action名字，随便起
on:
  schedule:
    - cron: '1 0,15 * * *'
  workflow_dispatch:
  watch:
    types: started
  push:
    branches: [ main ]
  repository_dispatch:
    types: sync-ddgksf2013-Cuttlefish #同随便起
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} 
      dst_key: ${{ secrets.GITEE_PRIVATE_KEY }} # 我自己同步到gitee使用，其他人可忽略
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: sync-ddgksf2013-Cuttlefish
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/ddgksf2013/Cuttlefish.git" #关键内容，对方github库信息
          source_branch: "master"
          destination_branch: "master"
          github_token: ${{ secrets.PAT }}
